<?xml version="1.0"?>



<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="redstage_tab" translate="label" sortOrder="500">
            <label>Red Stage Extensions</label>
        </tab>
        <section id="test" translate="label" type="text" sortOrder="100"
            showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Test Extension</label>
            <tab>redstage_tab</tab>
            <resource>Redstage_Test::test</resource>
            <group id="basic" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Basic</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="more" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>More</label>
                <field id="more" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>More</label>
                </field>
            </group>
        </section>
    </system>
</config>
